header {
  background-color: aqua;
  display: flex;
  justify-content: space-between;
}

nav ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
}

nav ul li {
  margin: 10px;
}

nav a:hover {
  text-decoration: underline;
  color: red;
  font-size: 20px;
  margin: 10px;
}

a {
  text-decoration: none;
}

h1 {
  animation: deslizar 2s ease-in-out infinite alternate;
  color: #39ff14;
  text-shadow: 0 0 5px #d9e4d7, 0 0 10px #d9e4d7, 0 0 20px #d9e4d7;
  animation: brillo 1.5s ease-in-out;
}

@keyframes brillo {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(20px);
  }
}
@media (max-width: 900px) {
  header {
    flex-direction: column;
  }
}
.hero {
  display: flex;
  justify-content: space-between;
  background-color: burlywood;
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.destacados {
  background-color: rgb(220, 158, 78);
}

.destacados h2 {
  padding: 10px;
  text-align: center;
}

.cont-tar {
  display: flex;
  justify-content: space-around;
  padding: 10px;
}

.tarj {
  background-color: green;
  border-radius: 2px;
  padding: 10px;
  width: 250px;
  height: 300px;
  text-align: center;
}

.tarj img {
  width: 190px;
  height: 200px;
}

.tarj p {
  background-color: aqua;
}

@media (max-width: 900px) {
  .hero {
    flex-direction: column-reverse;
    font-size: 15px;
  }
}
@media (max-width: 800px) {
  .cont-tar {
    flex-direction: column-reverse;
    align-items: center;
  }
  .tarj {
    margin: 10px;
  }
}
footer {
  background-color: darkturquoise;
  padding: 10px;
  color: black;
}

.redes a img {
  width: 50px;
  height: 50px;
}

.redes {
  display: flex;
  justify-content: space-around;
}

.btn-1 {
  background-color: rgb(241, 10, 10);
  font-size: large;
  padding: 5px;
}

.bord-r {
  box-shadow: 10px 10px 20px black;
  border-radius: 20px;
}

.bord-b {
  box-shadow: 10px 10px 20px white;
  border-radius: 20px;
}

.grd-sec {
  background-color: rgb(1, 56, 56);
  padding-top: 20px;
}

.grd-sec p {
  background-color: blue;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 10px;
}

.grid-cnt {
  height: 80vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 45%);
  grid-template-areas: " a b c " " a b c ";
  column-gap: 10px;
  padding: 20px;
}

.grd-a {
  grid-area: a;
}

.grd-b {
  grid-area: b;
}

.grd-c {
  grid-area: c;
}

.grid-cnt img {
  height: 100%;
  width: 100%;
  object-fit: fill;
}

.sec-ser {
  background-color: chartreuse;
  padding: 20px;
}

.cont-p {
  display: flex;
  gap: 30px;
  justify-content: space-around;
  background-color: brown;
  padding: 20px;
  align-items: center;
}

.parrafo-ser {
  text-align: center;
  width: 600px;
  background-color: azure;
}

.cont-p button {
  height: 30px;
  width: 100px;
}

.cont-img-ser {
  display: flex;
  justify-content: space-around;
}

.cnt-ser-tec {
  height: 300px;
  width: 300px;
  padding: 10px;
}

.cnt-ser-tec img {
  height: 100%;
  width: 100%;
}

* {
  margin: 0px;
  padding: 0px;
}

@keyframes mover {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(100px);
  }
  100% {
    transform: translateX(0);
  }
}

/*# sourceMappingURL=style.css.map */
