header {
  background-color: rgb(5, 14, 143);
  color: white;
  display: flex;
  justify-content: space-between;
}

nav ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
}

nav ul li {
  margin: 10px;
}

nav a:hover {
  text-decoration: underline;
  color: red;
  font-size: 20px;
  margin: 10px;
}

a {
  text-decoration: none;
}

h1 {
  animation: deslizar 2s ease-in-out infinite alternate;
  color: #39ff14;
  text-shadow: 0 0 5px #d9e4d7, 0 0 10px #d9e4d7, 0 0 20px #d9e4d7;
  animation: brillo 1.5s ease-in-out;
}

@keyframes brillo {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(20px);
  }
}
@media (max-width: 900px) {
  header {
    flex-direction: column;
  }
}
.hero {
  display: flex;
  justify-content: space-between;
  background-color: rgb(247, 244, 241);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.destacados {
  background-color: rgb(158, 201, 250);
}

.destacados h2 {
  padding: 10px;
  text-align: center;
}

.cont-tar {
  display: flex;
  justify-content: space-around;
  padding: 10px;
}

.tarj {
  background-color: rgb(235, 243, 235);
  border-radius: 2px;
  padding: 10px;
  width: 250px;
  height: 300px;
  text-align: center;
}

.tarj img {
  width: 190px;
  height: 200px;
}

.tarj p {
  background-color: rgb(189, 248, 248);
}

@media (max-width: 900px) {
  .hero {
    flex-direction: column-reverse;
    font-size: 15px;
  }
}
@media (max-width: 800px) {
  .cont-tar {
    flex-direction: column-reverse;
    align-items: center;
  }
  .tarj {
    margin: 10px;
  }
}
footer {
  background-color: rgb(5, 14, 143);
  padding: 10px;
  color: white;
}

.redes a img {
  width: 50px;
  height: 50px;
  background-color: white;
}

.redes {
  display: flex;
  justify-content: space-around;
}

.btn-1 {
  background-color: rgb(8, 8, 8);
  font-size: large;
  padding: 5px;
  color: white;
}

.bord-r {
  box-shadow: 10px 10px 20px #2d10cf;
  border-radius: 20px;
  color: rgb(63, 15, 235);
}

.bord-b {
  box-shadow: 10px 10px 20px #2d10cf;
  border-radius: 20px;
  color: rgb(63, 15, 235);
}

.grd-sec {
  background-color: rgb(3, 3, 3);
  padding-top: 20px;
}

.grd-sec p {
  background-color: rgb(218, 218, 240);
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 10px;
}

.grid-cnt {
  height: 80vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 45%);
  grid-template-areas: " a b c " " a b c ";
  column-gap: 10px;
  padding: 20px;
}

.grd-a {
  grid-area: a;
}

.grd-b {
  grid-area: b;
}

.grd-c {
  grid-area: c;
}

.grid-cnt img {
  height: 100%;
  width: 100%;
  object-fit: fill;
}

.sec-ser {
  background-color: rgb(206, 217, 238);
  padding: 20px;
}

.cont-p {
  display: flex;
  gap: 30px;
  justify-content: space-around;
  background-color: rgb(179, 176, 176);
  padding: 20px;
  align-items: center;
}

.parrafo-ser {
  text-align: center;
  width: 600px;
  background-color: rgb(176, 193, 247);
}

.cont-p button {
  height: 30px;
  width: 100px;
  background-color: black;
  color: white;
}

.cont-img-ser {
  display: flex;
  justify-content: space-around;
}

.cnt-ser-tec {
  height: 300px;
  width: 300px;
  padding: 10px;
}

.cnt-ser-tec img {
  height: 100%;
  width: 100%;
}

.prod {
  background-color: rgb(208, 245, 245);
}

.sec-cont {
  padding: 20px;
  background-color: white;
}

.for-caja {
  border-radius: 10px;
  border-color: aqua;
  height: auto;
  width: auto;
  background-color: rgb(199, 194, 194);
  padding-bottom: 10px;
  color: antiquewhite;
}

* {
  margin: 0px;
  padding: 0px;
}

@keyframes mover {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(100px);
  }
  100% {
    transform: translateX(0);
  }
}

/*# sourceMappingURL=style.css.map */
