.sec-cont{
    padding: 20px;
    background-color: white;
}
.for-caja{
    border-radius: 10px;
    border-color: aqua;
    height: auto;
    width: auto;
    background-color: rgb(199, 194, 194);
    padding-bottom: 10px;
    color: antiquewhite;
}