header {
    background-color: aqua;
    display: flex;
    justify-content: space-between;
    
}
nav ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
}
nav ul li {
    margin: 10px;
}
nav a:hover{
    text-decoration: underline;
    color: red;
    font-size: 20px;
    margin: 10px;
}
a{
    text-decoration: none;
}

@media ( max-width: 900px) {
    header{
        flex-direction: column;
    }
    
}

