header {
    background-color: rgb(5, 14, 143);
    color: white;
    display: flex;
    justify-content: space-between;
    
}
nav ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
}
nav ul li {
    margin: 10px;
}
nav a:hover{
    text-decoration: underline;
    color: red;
    font-size: 20px;
    margin: 10px;
}
a{
    text-decoration: none;
}
h1{
    animation: deslizar 2s ease-in-out infinite alternate;
    color: #39ff14; 
    text-shadow: 0 0 5px #d9e4d7, 0 0 10px #d9e4d7,0 0 20px #d9e4d7;
    animation: brillo 1.5s ease-in-out ;
}
@keyframes brillo {
    from {
        transform:  translateX(0);
    }
    to { transform: translateX(20px);
    }
}

@media ( max-width: 900px) {
    header{
        flex-direction: column;
    }
    
}

