@mixin boton($color, $size) {
    background-color: $color;
    font-size: $size;
    padding: 5px;
}
.btn-1{
    @include boton(rgb(241, 10, 10), large )
}
@mixin bord-r ($color-som, $borde) {
    box-shadow: 10px 10px 20px rgba($color-som, 02);
    border-radius: $borde;
}

.bord-r {
    @include bord-r (black, 20px )
}
.bord-b {
    @include bord-r(white,20px )
}