.grd-sec {
    background-color: rgb(1, 56, 56);
    padding-top: 20px;
}
.grd-sec p {
    background-color: blue;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
}
.grid-cnt {
    height: 80vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2 ,45%);
    grid-template-areas: 
    " a b c "
    " a b c ";
    column-gap: 10px;
    padding: 20px;
}
.grd-a {
    grid-area: a;
}
.grd-b {
    grid-area: b;
}
.grd-c {
    grid-area: c;
}
.grid-cnt img {
    height: 100%;
    width: 100%;
    object-fit: fill;
}