@use 'header';
@use 'main';
@use 'footer';
@use 'mixin';
@use 'nosotros';
@use 'servicios';
@use 'productos';
$color-primary: rgb(76, 104, 241);
$color-secundary:white;
*{
    margin: 0px;
    padding: 0px;
}  
@keyframes mover {
    0% { transform: translateX(0); }
    50%{transform: translateX(100px);}
    100%{transform: translateX(0);}
}
